* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 75px;
  width: 75px;
}

.card {
  height: 90%;
}

.card img {
  border-radius: 0;
  width: 100%;
  height: 90%;
  padding: 0%;
}

/* 
custom button
*/

.custom-btn {
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  background: #30336b;
  color: #fff;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.custom-btn:hover {
  background: #130f40;
  color: #fff;
  font-weight: 500;
}

/* 
designs
*/

#design .btn {
  color: #fff;
  background: #30336b;
  transition: 0.5s ease-in-out;
}

#design .btn:hover {
  color: #fff;
  background: #130f40;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 10px;
}

img {
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
}

#contact .btn {
  color: #fff;
  background: #30336b;
  transition: 0.5s ease-in-out;
}

#contact .btn:hover {
  color: #fff;
  background: #130f40;
}

/* 
footer
*/

.social {
  color: #fff;
  font-size: 28px;
  transition: 0.3s ease-in-out;
}

.social:hover {
  color: #487eb0;
}

.links {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}

.links:hover {
  color: #487eb0;
}

.develop {
  background: #2f3640;
}

.back {
  font-size: 40px;
  color: #30336b;
  margin-left: 5%;
  transition: 0.3s ease-in-out;
}

.back:hover {
  color: #130f40;
}

.color {
  color: #192a56;
}
