* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.carousel-item img {
  width: 100%;
  height: 80vh;
}

.align {
  text-align: justify;
}

.card img {
  height: 100%;
  width: 100%;
}

.align-left {
  text-align: left;
}

.links a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.links a:hover {
  color: #e74c3c;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social {
  font-size: 30px;
}

/* 
Back to Home
*/

.back {
font-size: 80px;
  color: #130f40;
  margin-left: 2%;
  transition: 0.5s ease-in-out;
}

.back:hover {
  color: #30336b;
}

/* 
Bed Room
*/

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 10px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
